.error-messages {
    font-size : 0.9em;
    color: red;
}
.title{
    display: flex;
}

.icon-add{
    font-size: 35px;
    padding-top: 19px;
    padding-right: 10px;
}

ion-button{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

ion-datetime{
    padding-bottom: 1px;
}

.btn-actions {
    display: flex;
    justify-content: flex-end;

    .btn-back {
      margin: 0 10px;
    }
  }