$color-light-red: #E23615;
$color-light-black: #414344;
$color-light-gray: #A0A0A0;

* {
    font-family: 'Proxima Nova Regular';
}

body {
    font-family: 'Proxima Nova Regular' !important;
}

h1 {
    font-size: 60px;
    color: $color-light-black;
    font-family: 'Proxima Nova Regular';
    font-weight: 900;
}

h2 {
    font-size: 50px;
    color: $color-light-black;
    font-family: 'Proxima Nova Regular';
    font-weight: 700;
}

h3 {
    font-size: 36px;
    color: $color-light-black;
    font-family: 'Proxima Nova Regular';
}

h4 {
    font-size: 28px;
    color: $color-light-black;
    font-family: 'Proxima Nova Regular';
}
h5 {
    font-size: 24px;
    color: $color-light-black;
    font-family: 'Proxima Nova Regular';
    
    @media only screen and (max-width: 768px) {
        font-size: 20px;
    }
}

p{
    font-size: 17px;
    font-family: 'Proxima Nova Thin';
    color: $color-light-black;
}

h6 {
    font-size: 20px;
    color: $color-light-black;
    @media only screen and (max-width: 768px) {
        font-size: 18px;
    }
}
@media only screen and (max-width: 768px) {
    .main h1{
        font-size:50px;
    }
    .main h3{
        font-size:30px;
    }
}
@media only screen and (max-width: 450px) {
    .main h1{
        font-size:30px;
    }
    .main h3{
        font-size:20px;
    }
}
.footer-container {
    background-color: $color-light-black;
}

.wrapper-content {
    max-width: 1500px;
    margin: 0 auto;
}

.btn {
    // font-family: "Poppins", sans-serif;
    font-size: 20px;
}