$color-light-red: #ff483a;
$color-orange-red: #d2492a;
$color-light-black: #414344;
$color-light-gray: #f5f5f5;

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 60px;
    color: $color-light-black;
}

h2 {
    font-size: 50px;
    color: $color-light-black;
}

h3 {
    font-size: 36px;
    color: $color-light-black;
}

h4 {
    font-size: 28px;
    color: $color-light-black;
}
h5 {
    font-size: 24px;
    color: $color-light-black;
}

h6 {
    font-size: 20px;
    color: $color-light-black;
}
@media only screen and (max-width: 768px) {
    .main h1{
        font-size:50px;
    }
    .main h3{
        font-size:30px;
    }
}
@media only screen and (max-width: 450px) {
    .main h1{
        font-size:30px;
    }
    .main h3{
        font-size:20px;
    }
}
.footer-container {
    background-color: $color-light-black;
}

.wrapper-content {
    max-width: 1500px;
    margin: 0 auto;
}

.btn {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}