$color-light-red: #ff483a;
$color-light-black: #414344;
$color-light-gray: #f5f5f5;

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 28px;
}
@media only screen and (max-width: 768px) {
    .main h1{
        font-size:50px;
    }
    .main h3{
        font-size:30px;
    }
}
@media only screen and (max-width: 450px) {
    .main h1{
        font-size:30px;
    }
    .main h3{
        font-size:20px;
    }
}
.footer-container {
    background-color: $color-light-black;
}