@import '../../styles/custom.scss';
// welcome
.ion-text-center{
    background-image: url('../../../assets/img/banner_4.png');
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 100% !important;
    background-repeat: no-repeat;
}

.main{
    color: white;
    font-family: "Poppins", sans-serif;
    max-width: 630px;
    margin: 4% auto;
}
.main h1{
    font-weight: 600;
    color:white;
}
.main h3{
    font-weight: 400;
    color:white;
}
.venue{
    max-width: 458px;
    margin: 0 auto;
}
.venue-input{
    margin:0 auto;
    color: white;
    margin-top:30px;
}
.venue-button{
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}
ion-button{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}
ion-label, ion-select-option{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}
.candidate-item{
    margin-bottom:20px;
}
.category-item h5{
    font-size:20px;
}
.category-item:hover{
    cursor: pointer;
}
.category-item:focus{
    outline:none;
}
@media only screen and (max-width: 1024px) {
    .ion-text-center{
        background-image: none;
        background-color: $color-light-red;
        height: 33%;
        // max-height:350px;
    }
    .lists h3{
        font-size:30px;
    }
}
@media only screen and (max-width: 768px) {
    .ion-text-center{
        background-image: none;
        background-color: $color-light-red;
        height: 40%;
        max-height:350px;
    }
    .venue-input{
        margin-top:20px;
    }
}

@media only screen and (max-width: 450px) {
    .ion-text-center{
        height: 60%;
    }
    ion-button{
        font-size: 15px;
    }
}
// @media only screen and (max-width: 415px) {
//     .ion-text-center{
//         height: 45%;
//     }
// }

// @media only screen and (max-width: 380px) {
//     .ion-text-center{
//         height: 44%;
//     }
// }

// @media only screen and (max-width: 360px) {
//     .ion-text-center{
//         height: 60%;
//     }
// }