<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
    <a routerLink="/login">Login</a>
    <br>
    <a routerLink="/job-list">Job-List</a>
    <br>
    <a routerLink="/candidate-list">Candidate-List</a>
    <br>
    <a routerLink="/candidate-details">Candidate-Details</a>
    <br>
    <a routerLink="/candidate-add-profile">Candidate-Add-Profile</a>
  </div>
</ion-content>


