<ion-content>
  <ion-row>
    <div class="ion-text-center">
      <div class="main">
        <h1>WELCOME TO ELCA</h1>
        <h3>The inde­pendent Swiss IT company</h3>
        <ion-row class="venue">
          <ion-col size="12">
            <ion-item class="venue-input" color="red">
              <ion-label position="floating">Venue</ion-label>
              <ion-select interface="popover">
                <ion-select-option value="UTM">UTM</ion-select-option>
                <ion-select-option value="UOM">UOM</ion-select-option>
                <ion-select-option value="CTI">CTI</ion-select-option>
              </ion-select>
            </ion-item>
            <div class="venue-button">
              <ion-button color="light" [routerLink]="['/job-list']" routerLinkActive="router-link-active">
                Add Candidate</ion-button>
              <ion-button color="dark" [routerLink]="['/job-list']">View Job List</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </div>
      <ion-row class="lists">
        <ion-col size="6" size-md size="12" size-sm>
          <ion-card>
            <ion-card-header>
              <h3>List of Candidates</h3>
            </ion-card-header>
            <ion-card-content>

              <ion-item class="candidate-item" [routerLink]="['/candidate-details']" routerLinkActive="router-link-active" *ngFor="let candidate of candidates">

                <ion-avatar slot="start">
                  <img src="../../../assets/img/avatar_male.jpg">
                </ion-avatar>

                <ion-label>
                  <h5>{{candidate.firstName}} {{candidate.lastName}}</h5> 
                  <p>{{candidate.currentLevel}}</p>
                  <p>Available from: {{candidate.availabilityDate}}</p>

                </ion-label>

              </ion-item>

              <!-- <ion-item class="candidate-item" [routerLink]="['/candidate-details']" routerLinkActive="router-link-active">
                <ion-avatar slot="start">
                  <img src="../../../assets/img/avatar_female.jpg">
                </ion-avatar>
                <ion-label>
                  <h5>Maliyah Sheppard</h5>
                  <p>dolor sit amet</p>
                  <p>consectetur adipiscing elit. Duis ut urna neque.</p>
                </ion-label>
              </ion-item> -->

              
            </ion-card-content>
            <ion-button class="btn-view-more" color="dark" [routerLink]="['/candidate-list']">View more</ion-button>
          </ion-card>

        </ion-col>

        <ion-col size="6" size-md size="12" size-sm>
          <ion-card>
            <ion-card-header>
              <h3>Job Category</h3>
            </ion-card-header>
            <ion-row>
              <ion-col size="2" size-md size="6" size-sm *ngFor="let category of categoryTitle">
                <ion-card-content class="category-item" [routerLink]="['/job-list']" 
                  routerLinkActive="router-link-active" [queryParams]="">
                  <img src="{{ category.img }}">
                  <h5>{{ category.title }}</h5>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </ion-row>
</ion-content>