@import '../../styles/custom.scss';
// welcome
.ion-text-center{
    // background-image: url('../../../assets/img/banner_4.png');
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 100% !important;
    background-repeat: no-repeat;
}

.main{
    color: white;
    // font-family: "Poppins", sans-serif;
    // max-width: 630px;
    // margin: 4% auto;
    background-color: #FF483A;
}
.main h1{
    // font-weight: 600;
    color:white;
    margin-top: 0;
    padding-top: 45px;
}
.main h3{
    font-weight: 400;
    color:white;
}
.venue{
    max-width: 458px;
    margin: 0 auto;
}
.venue-input{
    margin:0 auto;
    color: white;
    margin-top:30px;
}
.venue-button{
    margin: 30px auto;
    display: flex;
    justify-content: center;
}
ion-button{
    // font-family: "Proxima Nova Bold";
    font-size: 20px;
}
ion-label, ion-select-option{
    // font-family: "Poppins", sans-serif;
    font-size: 20px;
}
// .candidate-item{
//     max-width: 155px;
// }

ion-list{
    background: transparent;
}
.candidate-item:hover{
    cursor: pointer;
}
.category-item {
    // max-width: 155px;
    max-width: 155px;
    margin: 0 auto;
}
.category-item h5{
    font-size:20px;
}
.category-item:hover{
    cursor: pointer;
}
.category-item:focus{
    outline:none;
}
.category-item img{
    // width:100px;
    width:123px;
}
.btn-view-more{
    margin-bottom: 25px;
}
.category-col{
    width: 125px;
}
// .refresh{
//     background-color: #FF483A;
// }
@media only screen and (max-width: 1024px) {
    .ion-text-center{
        // background-image: none;
        // background-color: $color-light-red;
        // height: 35%;
        // max-height:350px;
    }
    .lists h3{
        font-size:30px;
    }
    .category-item h5{
        font-size:17px;
    }
    //Only For android
    .main h1{
        font-size: 55px;
    }
    // .refresh{
    //     background-color: #E23615;
    // }
}
@media only screen and (max-width: 768px) {
    .ion-text-center{
        // background-image: none;
        // background-color: $color-light-red;
        // height: 45%;
        // max-height:350px;
    }
    .venue-input{
        margin-top:20px;
    }
}

@media only screen and (max-width: 450px) {
    .ion-text-center{
        height: 60%;
    }
    ion-button{
        font-size: 15px;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .ion-text-center {
        height: 60%;
    }
}

.not-available{
    width: 122px;
    margin: 0 auto;
    margin-bottom: 18px;
}

.banner {
    &-section {
        position: relative;

        .venue {
            max-width: 575px;

            .list-md {
                width: 75%;
                margin: 0 auto;
            }
        }
    }

    &-img {
        position: absolute;

        @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
            display: none;
        }

        img {
            @media only screen and (min-device-width: 1400px)and (max-device-width: 1600px) {
                width: 95%;
            }

            @media only screen and (min-device-width: 1601px) {
                width: 75%;
            }
            

        }

    }
}

.lists {
    // margin: 20px 0;
}


// @media only screen and (max-width: 415px) {
//     .ion-text-center{
//         height: 45%;
//     }
// }

// @media only screen and (max-width: 380px) {
//     .ion-text-center{
//         height: 44%;
//     }
// }

// @media only screen and (max-width: 360px) {
//     .ion-text-center{
//         height: 60%;
//     }
// }