<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div> -->
  <div class="ion-text-center">
    <div class="main">
      <h1>WELCOME TO ELCA</h1>
      <h2>The inde­pendent Swiss IT company</h2>
      <!-- <img src='../../../assets/img/Banner_1.png'> -->
      
    </div>
  </div>
</ion-content>
