@import '../../styles/custom.scss';
.footer {
    &-content {
        display: flex;
        justify-content: space-between;
        padding: 10px 25px;

        &__text {
            color: $color-light-gray;
        }
    }
}