<ion-header>
  <ion-toolbar>
    <div class="toolbar-content">
      <div class="header-title">
        <ion-title class="ion-text-left" *ngIf="!edit">Add User</ion-title>
        <ion-title class="ion-text-left" *ngIf="edit">Edit User</ion-title>
      </div>
      <div class="modal-close">
        <button (click)="closeModal()" class="modal__close-btn ion-float-right">X</button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="addVenue" class="addVenue">
    <form [formGroup]="formAddUser">
      <ion-row>
        <ion-col col-md-6 size="12" size-sm>
          <ion-item *ngIf="!edit">
            <ion-label position="floating" color="medium">*Visa</ion-label>
            <ion-input formControlName="visa" type="text"></ion-input>
          </ion-item>
          <ion-item *ngIf="edit">
            <ion-label position="floating" color="medium">*Visa</ion-label>
            <ion-input formControlName="visa" type="text" value="{{visa}}"></ion-input>
          </ion-item>
          <div class="error-messages">
            <ng-container *ngFor="let error of errorMessages.visa">
              <div class="error-message"
                *ngIf="formAddUser.get('visa').hasError(error.type) && (formAddUser.get('visa').dirty || formAddUser.get('visa').touched)">
                {{ error.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-md-6 size="12" size-sm>
          <ion-item *ngIf="!edit">
            <ion-label position="floating" color="medium">*Role</ion-label>
            <ion-select formControlName="role" interface="popover" cancelText="Cancel" okText="OK">
              <ion-select-option value="1">HR</ion-select-option>
              <ion-select-option value="2">MANAGER</ion-select-option>
              <ion-select-option value="3">INTERVIEWER</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="edit">
            <ion-label position="floating" color="medium">*Role</ion-label>
            <ion-select formControlName="role" interface="popover" cancelText="Cancel" okText="OK">
              <ion-select-option value="1">HR</ion-select-option>
              <ion-select-option value="2">MANAGER</ion-select-option>
              <ion-select-option value="3">INTERVIEWER</ion-select-option>
            </ion-select>
          </ion-item>

          <div class="error-messages">
            <ng-container *ngFor="let error of errorMessages.role">
              <div class="error-message"
                *ngIf="formAddUser.get('role').hasError(error.type) && (formAddUser.get('role').dirty || formAddUser.get('role').touched)">
                {{ error.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-md size="12" size-sm>
          <div class="status">
            <ion-radio-group formControlName="active" class="btn-radio-group">

              <ion-item>
                <ion-label>Active</ion-label>
                <ion-radio color="success" slot="start" value="true" (ionSelect)="radioButtonValue($event)">
                </ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>Inactive</ion-label>
                <ion-radio color="danger" slot="start" value="false" (ionSelect)="radioButtonValue($event)">
                </ion-radio>
              </ion-item>

            </ion-radio-group>
          </div>
        </ion-col>
      </ion-row>

      <div class="option-button ion-text-right">
        <ion-button class="btn" (click)="closeModal()" type="submit" color="danger">Cancel</ion-button>
        <ion-button class='btn' *ngIf="!edit" color="dark" (click)="onSubmit()">Add</ion-button>
        <ion-button class='btn' *ngIf="edit" color="dark" (click)="onSubmit()">Save</ion-button>
      </div>

    </form>
  </div>
</ion-content>