
ion-title{
    font-size: 25px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.addVenue{
    margin-top:10px;
}
.btn-radio-group{
    display: flex;
}

.btn{
    padding-left: 12px;
}
.ion-text-right{
    position: fixed;
    bottom: 0;
    width: 100%;
}
  