<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!edit">Add Venue</ion-title>
    <ion-title *ngIf="edit">Edit Venue</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="addVenue" class="addVenue">
    <form [formGroup]="formAddVenue">
      <ion-row>
        <ion-col col-md-6 size="12" size-sm>
          <ion-item *ngIf="!edit">
            <ion-label position="floating" color="medium">*Venue Name</ion-label>
            <ion-input formControlName="venueName" type="text"></ion-input>
          </ion-item>
          <ion-item *ngIf="edit">
            <ion-label position="floating" color="medium">*Venue Name</ion-label>
            <ion-input formControlName="venueName" type="text" value="{{venueName}}"></ion-input>
          </ion-item>
          <div class="error-messages">
            <ng-container *ngFor="let error of errorMessages.venueName">
              <div class="error-message"
                *ngIf="formAddVenue.get('venueName').hasError(error.type) && (formAddVenue.get('venueName').dirty || formAddVenue.get('venueName').touched)">
                {{ error.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-md-6 size="12" size-sm>
          <ion-item *ngIf="!edit">
            <ion-label position="floating" color="medium">*Address</ion-label>
            <ion-input formControlName="address" type="text"></ion-input>
          </ion-item>
          <ion-item *ngIf="edit">
            <ion-label position="floating" color="medium">*Address</ion-label>
            <ion-input formControlName="address" type="text" value="{{address}}"></ion-input>
          </ion-item>
          <div class="error-messages">
            <ng-container *ngFor="let error of errorMessages.address">
              <div class="error-message"
                *ngIf="formAddVenue.get('address').hasError(error.type) && (formAddVenue.get('address').dirty || formAddVenue.get('address').touched)">
                {{ error.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" size-md size="12" size-sm>
          <ion-item *ngIf="!edit">
            <ion-label position="floating" color="medium">*Start Date</ion-label>
            <ion-datetime formControlName="startDate" default="today" max="2021-12-31">
            </ion-datetime>
          </ion-item>
          <ion-item *ngIf="edit">
            <ion-label position="floating" color="medium">*Start Date</ion-label>
            <ion-datetime formControlName="startDate" value="{{startDate}}" max="2021-12-31">
            </ion-datetime>
          </ion-item>

          <div class="error-messages">
            <ng-container *ngFor="let error of errorMessages.startDate">
              <div class="error-message"
                *ngIf="formAddVenue.get('startDate').hasError(error.type) && (formAddVenue.get('startDate').dirty || formAddVenue.get('startDate').touched)">
                {{ error.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
        <ion-col size="6" size-md size="12" size-sm>
          <ion-item *ngIf="!edit">
            <ion-label position="floating" color="medium">*End Date</ion-label>
            <ion-datetime formControlName="endDate" default="today" max="2021-12-31">
            </ion-datetime>
          </ion-item>
          <ion-item *ngIf="edit">
            <ion-label position="floating" color="medium">*End Date</ion-label>
            <ion-datetime formControlName="endDate" value="{{endDate}}" max="2021-12-31">
            </ion-datetime>
          </ion-item>
          <div class="error-messages">
            <ng-container *ngFor="let error of errorMessages.endDate">
              <div class="error-message"
                *ngIf="formAddVenue.get('endDate').hasError(error.type) && (formAddVenue.get('endDate').dirty || formAddVenue.get('endDate').touched)">
                {{ error.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md size="12" size-sm>
          <div class="status">
            <ion-radio-group formControlName="active" class="btn-radio-group">

              <ion-item>
                <ion-label>Active</ion-label>
                <ion-radio color="success" slot="start" value="true" (ionSelect)="radioButtonValue($event)">
                </ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>Inactive</ion-label>
                <ion-radio color="danger" slot="start" value="false" (ionSelect)="radioButtonValue($event)">
                </ion-radio>
              </ion-item>

            </ion-radio-group>
          </div>
        </ion-col>
      </ion-row>

      <div class="option-button ion-text-right">
        <ion-button class="btn" (click)="closeModal()" type="submit" color="danger">Cancel</ion-button>
        <ion-button class='btn' *ngIf="!edit" color="dark" (click)="onSubmit()">Add</ion-button>
        <ion-button class='btn' *ngIf="edit" color="dark" (click)="onSubmit()">Save</ion-button>
      </div>
    </form>
  </div>
</ion-content>