<ion-content>
  <ion-refresher class="refresh" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <div class="title">
          <img class="title-img" src='../../../assets/img//header_icons/candidate-1.png'>
          <h3>List of Candidates</h3>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="wrapper-content">
    <ion-row class="filter-row">
      <ion-col size="6">
        <div class="btn-order">
          <div class="search-container">
            <ion-searchbar [(ngModel)]="selectedElementForSearch" placeholder="Search by last name..." type="text"
              #lastName (ionInput)="searchByLastName(lastName.value)"></ion-searchbar>
          </div>
        </div>
      </ion-col>

      <ion-col size="6" class="ion-padding btn-order">
        <div class="btn-reset ion-padding">
          <ion-button [disabled]="disableResetFilter" (click)="resetFilters()" class="btn" color="dark" size="small">
            <ion-icon class="refresh" ios="ios-refresh" md="md-refresh"></ion-icon>Reset Filters
          </ion-button>
        </div>
        <div class="btn-asc ion-padding">
          <ion-button (click)="getAllCandidatesByAsc()" class="btn" color="light" size="small">
            <img src="../../../assets/img/ascending.png">
          </ion-button>
        </div>
        <div class="btn-desc ion-padding-top ion-padding-bottom ion-padding-end">
          <ion-button (click)="getAllCandidatesByDesc()" class="btn" color="light" size="small">
            <img src="../../../assets/img/descending.png">
          </ion-button>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="filter-section">
      <ion-col size="3" class="ion-padding">
        <ion-item class="venue-input">
          <ion-label position="floating" color="medium">Filter Candidates by venue..</ion-label>
          <ion-select (ionChange)="filterByVenue($event)" interface="popover"
            class="ion-float-left" [(ngModel)]="selectedElementForVenue">
            <ion-select-option value='0' selected="selected">All</ion-select-option>
            <ion-select-option *ngFor="let venue of venues" value={{venue.venueId}}>{{venue.venueName}} |
              {{venue.startDate}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="3" class="ion-padding">
        <ion-item class="venue-input">
          <ion-label position="floating" color="medium">Filter Candidates by screening status..</ion-label>
          <ion-select (ionChange)="filterByScreeningStatus($event)"
            interface="popover" class="ion-float-left" [(ngModel)]="selectedElementForScreening">
            <ion-select-option value="All" selected="selected">All</ion-select-option>
            <ion-select-option value="rejected">Rejected</ion-select-option>
            <ion-select-option value="proceed-to-next-interview">Proceed to next interview</ion-select-option>
            <ion-select-option value="accepted">Accepted</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="3" class="ion-padding">
        <ion-item class="venue-input">
          <ion-label position="floating" color="medium">Filter Job Type..</ion-label>
          <ion-select (ionChange)="filterByJobType($event)"
            interface="popover" class="ion-float-left" [(ngModel)]="selectedElementForJobType">
            <ion-select-option value="All" selected="selected">All</ion-select-option>
            <ion-select-option value="full-time">Full-Time</ion-select-option>
            <ion-select-option value="part-time">Part-Time</ion-select-option>
            <ion-select-option value="internship">Internship</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="3" class="ion-padding">
          <ion-item class="venue-input">
            <ion-label position="floating" color="medium">Filter Candidates level..</ion-label>
            <ion-select (ionChange)="filterByLevel($event)" interface="popover" class="ion-float-left" [(ngModel)]="selectedElementForLevel">
              <ion-select-option value="All" selected="selected">All</ion-select-option>
              <ion-select-option value="Fresher">Fresher</ion-select-option>
              <ion-select-option value="Junior">Junior</ion-select-option>
              <ion-select-option value="Senior">Senior</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
    </ion-row>

    <div class="asc">
      <div class="candidateNotFound" *ngIf="!candidateNotFound">
        <ion-card-content *ngIf="!noCandidatesAvailable">
          <ion-item class="candidate-item" (click)="routeTo(candidateVenueJob.candidate.candidateId)"
            *ngFor="let candidateVenueJob of candidateVenueJobsLists">
            <ion-avatar *ngIf="candidateVenueJob.candidate.gender == 'Male'" slot="start">
              <img src="../../../assets/img/avatar_male.jpg" />
            </ion-avatar>
            <ion-avatar *ngIf="candidateVenueJob.candidate.gender=='Female'" slot="start">
              <img src="../../../assets/img/avatar_female.jpg" />
            </ion-avatar>
            <ion-label class="ion-text-wrap">
              <h5><b>{{candidateVenueJob.candidate.lastName}} {{candidateVenueJob.candidate.firstName}}</b></h5>
              <p><b>Level:</b> {{candidateVenueJob.candidate.currentLevel}}</p>
              <div class="date-box">
                <div class="date-text">
                  <p><b>Available from:</b></p>
                </div>
                <div class="date-available">
                  <ion-datetime displayFormat="MMM D, YYYY" value="{{candidateVenueJob.candidate.availabilityDate}}"
                    readonly></ion-datetime>
                </div>
              </div>

            </ion-label>
            <ion-label slot="end" class="mobile--hidden">
              <p><b>Venue:</b> {{candidateVenueJob.venueJob.venue.venueName}}</p>
              <p><b>Job Applied:</b> {{candidateVenueJob.venueJob.job.title}}</p>
              <p><b>Job Type:</b> {{candidateVenueJob.candidate.jobType}}</p>
            </ion-label>
          </ion-item>
        </ion-card-content>
      </div>
    </div>

    <ion-row *ngIf="candidateNotFound || noCandidatesAvailable">
      <ion-col size="12" class="ion-padding">
        <img class="not-found" src="../../../assets/img/Not Available/candidate-not-found.png">
      </ion-col>
    </ion-row>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more candidates...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-row>
      <ion-col size="12" class="ion-padding">
        <div class="x" *ngIf="!candidateNotFound">
          <p class="ion-float-center" *ngIf="!noCandidatesAvailable">
            Total number of candidates: {{totalCandidates}}
          </p>
        </div>
      </ion-col>
    </ion-row>
  </div>

</ion-content>