h5{
    font-size:20px;
}

.title{
    display: flex;
}

.icon-users{
    font-size: 48px;
    padding-top: 12px;
    padding-right: 10px;
}

.btn-order {
    display: flex;
}

.candidate-item:hover{
    cursor: pointer;
}