<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="router-links">
        <!-- <img src='../../../assets/img/Logo.png' routerLink="/home"> -->
        <img src='../../../assets/img/recruitix_logo.png' (click)="navigateToHome()">
        <!-- <img class="dissableRediretion" src='../../../assets/img/ELCA.png' (click)="navigateToHome()"> -->
        <div class="router-links--right">
          <!-- <a (click)="navigateToDashboard()">Dashboard</a> -->
          <a class="venue-name" (click)="navigateToVenue()">Venue: {{venue}} </a>
          <a *ngIf="!loggedIn" routerLink="/login">Login</a>
          <a *ngIf="loggedIn" (click)="logout()">Logout</a>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

