<ion-content>
  <div class="venue-container">
    <ion-row class="ion-align-items-center">
      <ion-col size="12" size-md size="12" size-sm>
        <div class="wrapper">
          <div class="venue-content__img">
            <img src="../../../assets/img/map.png" />
          </div>
          <ion-item class="venue-input" color="red">
            <ion-label position="floating" color="dark">Venue</ion-label>
            <ion-select   interface="popover" (ionChange)="selected($event)">
              <ion-select-option *ngFor="let venue of venues" value="{{venue.venueId}}">{{venue.venueName}}</ion-select-option>
            </ion-select>
          </ion-item>
            <ion-button color="dark" [routerLink]="['/home']" routerLinkActive="router-link-active">Get Started</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>