@font-face {
  font-family: "Proxima Nova Alt Bold";
  src: url("./assets/fonts/Proxima-Nova-Alt-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Light";
  src: url("./assets/fonts/Proxima-Nova-Alt-Light.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Alt Thin";
  src: url("./assets/fonts/Proxima-Nova-Alt-Thin.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Black";
  src: url("./assets/fonts/Proxima-Nova-Black.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("./assets/fonts/Proxima-Nova-Bold.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Extra Bold";
  src: url("./assets/fonts/Proxima-Nova-Extrabold.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Thin";
  src: url("./assets/fonts/Proxima-Nova-Thin.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Regular";
  src: url("./assets/fonts/ProximaNova-Regular.ttf");
  font-style: normal;
}


