<ion-content>
  <ion-refresher class="refresh" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <div class="header-wrap">
          <div class="title">
            <img src='../../../assets/img//header_icons/job.png'>
            <h3>Job List</h3>
          </div>
          <div class="add-button">
            <ion-button color='danger' (click)="openAddModal()">
              <ion-icon ios="ios-add" md="md-add"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="wrapper-content">

    <ion-grid>
      <ion-row class="job-list-container">
        <ion-col size="6" class="filter-search ion-padding">
          <ion-searchbar placeholder="Search..." type="text" #title
            (ionInput)="searchByTitle(title.value)"></ion-searchbar>
        </ion-col>

        <ion-col size="3" class="ion-padding">
          <ion-item class="venue-input">
            <ion-label position="floating" color="medium">Please select position..</ion-label>
            <ion-select (ionChange)="filterLevel($event)" interface="popover" class="ion-float-left">
              <ion-select-option value="all" selected="selected">All</ion-select-option>
              <ion-select-option value="fresher">Fresher</ion-select-option>
              <ion-select-option value="junior">Junior</ion-select-option>
              <ion-select-option value="senior">Senior</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="3" class="ion-padding">
          <ion-item class="venue-input">
            <ion-label position="floating" color="medium">Please select a category..</ion-label>
            <ion-select (ionChange)="filterCategory($event)" interface="popover" class="ion-float-left">
              <ion-select-option value='all' selected="selected">All</ion-select-option>
              <ion-select-option value="human-resource">Human Resource</ion-select-option>
              <ion-select-option value="manager">Manager</ion-select-option>
              <ion-select-option value="business-analyst">Business Analyst</ion-select-option>
              <ion-select-option value="architect">Architect</ion-select-option>
              <ion-select-option value="software-engineer">Software Engineer</ion-select-option>
              <ion-select-option value="quality-assurance">Quality Assurance</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <div class="job-not-found" *ngIf="!jobNotFound">
        <div class="job-list-container" *ngIf="!noJobsAvailable ">
          <ion-row class="job-box" *ngFor="let job of jobs">
            <ion-col size="11">
              <button class="collapsible">{{ job.title }}</button>

              <div class="content">
                <ion-row>
                  <ion-col size="12" class="ion-padding-top">
                    <div class="ion-no-margin job-description-box">
                      <!-- <ion-card-content> -->
                      <div class="job-description">
                        <h6>Job Description</h6>

                        <ul>
                          <li *ngFor="let splitJobDescription of job.description.split(';')">
                            {{ splitJobDescription }}
                          </li>
                        </ul>

                      </div>

                      <div class="job-qualification">
                        <h6>Job Qualification</h6>
                        <ul>
                          <li>
                            <ion-label>{{ job.qualificationNeeded }}</ion-label>
                          </li>
                        </ul>
                      </div>

                      <div class="job-experience">
                        <h6>Job Experience</h6>
                        <ul>
                          <li>
                            <ion-label>{{ job.minimumExperience }}</ion-label>
                          </li>
                        </ul>
                      </div>
                      <!-- </ion-card-content> -->
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
            <ion-col size="1" text-right>
              <div class="Edit" data-th="Edit" (click)="edit(job.jobId)">
                <ion-icon class="edit-btn" ios="ios-create" md="md-create"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
      <ion-row *ngIf="jobNotFound || noJobsAvailable">
        <ion-col size="12" class="ion-padding">
          <img class="not-found" src="../../../assets/img/Not Available/job-not-found.png">
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more jobs...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>