<ion-content>
  <div class="login-container">
    <ion-row class="ion-align-items-center">
      <ion-col size="8" size-md size="12" size-sm>
        <div class="login-content__img">
          <img src="../../../assets/img/woman-working.png" />
        </div>
      </ion-col>
      <ion-col size="4" size-md size="12" size-sm>
        <ion-card>
          <ion-card-header text-center>
            <ion-card-title>Hello!</ion-card-title>
            <ion-card-subtitle>Sign in to your account</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <div class="login-content__field">
              <ion-item class="login-content__input">
                <ion-label position="floating" color="danger-shade">Username</ion-label>
                <ion-input></ion-input>
              </ion-item>

              <ion-item class="login-content__input">
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password"></ion-input>
              </ion-item>

              <ion-row center>
                <ion-col text-center class="ion-padding">
                  <ion-button color="dark">Log In</ion-button>
                </ion-col>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
        <!-- <div class="login-content__box ion-padding-top">
                
                      
          <div class="login-content__title">
            <h3>Hello!</h3>
            <p>Sign in to your account</p>
          </div>
          <div class="login-content__field">
            <ion-item class="login-content__input">
              <ion-label position="floating" color="danger-shade"
                >Username</ion-label>
            <ion-input></ion-input>
            </ion-item>

            <ion-item class="login-content__input">
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password"></ion-input>
            </ion-item>

            <ion-row center>
                <ion-col text-center class="ion-padding">
                    <ion-button color="dark" >Log In</ion-button>
                </ion-col>
            </ion-row>
          </div>
        </div> -->
      </ion-col>
    </ion-row>
  </div>
</ion-content>
