@import '../../styles/custom.scss';

.title{
  display: -webkit-box;
  width: 100%;
}
.icon-map{
    font-size: 35px;
    padding-top: 19px;
    padding-right: 10px;
    height: 53px;
}
h5{
    font-size:24px;
}
.header-wrap{
    display: flex;
    justify-content: space-between;

}


$breakpoint-alpha: 480px; // adjust to your needs


.rwd-table {
  margin: 1em 0;
  min-width: 300px; // adjust to your needs
  width: 100%;
  text-align: center;
  tr {
      font-size: 20px;
      text-align: center!important;
  }
  td {
      font-size: 17px;
      text-align: center!important;
      border-bottom: 1px solid $color-light-red;
  }
  

  
  th {
    display: none;    
    text-align: center!important;
    border-bottom: 2px solid $color-light-black;
  }
  
  td {
    display: block; 
    
    &:first-child {
      padding-top: .5em;
    }
    &:last-child {
      padding-bottom: .5em;
    }

    &:before {
      content: attr(data-th)": ";
      font-weight: bold;
      width: 6.5em; 
      display: inline-block;

      
      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }
  
  th, td {
    text-align: left;
    
    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: .25em .5em;
      
      &:first-child {
        padding-left: 0;
      }
      
      &:last-child {
        padding-right: 0;
      }
    }

  }
  
  
}

body {
  padding: 0 2em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: $color-light-black;
  background: $color-lighter-gray;
}

.rwd-table {
  overflow: hidden;

  th, td {
    margin: .5em 1em;
    @media (min-width: $breakpoint-alpha) { 
      padding: 1em !important; 
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      width: 122px;
    }
  }
}

.Edit:hover{
  cursor: pointer;
  .edit-btn{
    cursor: pointer;
    color: $color-light-red;
  }
}

.list-icon {
  font-size: 39px;
  padding-right: 10px;
}


.title h3{
  margin-top: 0;
  margin-bottom: 0;
}

@media only screen and (max-width: 1024px){
  .rwd-table tr{
    font-size: 16px;
  }
}

img{
  padding-top: 4px;
  padding-right: 15px;
}