<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <!--Pie Chart-->
    <ion-col size="6">
      <ion-card>
        <ion-card-content>
          <canvas #pieChart width="800" height="450"></canvas>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <!--Horizontal Bar Chart-->
    <ion-col size="6">
      <ion-card class="welcome-card">
        <ion-card-content>
          <canvas #horizontalBarChart></canvas>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <!--Vertical Bar Chart-->
    <ion-col size="6">
      <ion-card>
        <ion-card-content>
          <canvas #verticalBarChart></canvas>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <!--Doughnut Chart-->
    <ion-col size="6">
      <ion-card>
        <ion-card-content>
          <canvas #doughnutChart width="800" height="450"></canvas>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <!--Vertical Bar-->
  <!-- <ion-list-header color="light">Vertical Bar Chart</ion-list-header>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Number of Viewers per season for</ion-card-subtitle>
      <ion-card-title>Game of Thrones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card> -->
</ion-content>