//success: #10dc60
//pending: #ffce00
//rejected: #f04141

.title{
    display: flex;
}
.icon-user{
    font-size: 35px;
    padding-top: 19px;
    padding-right: 10px;
}
.jobs-selected{
    display: flex;
    justify-content: space-between;
}
ion-checkbox{
    margin-top:20px;
}
ion-card.candidate-details{
    margin-top:5px;
}


// Rejected
#ck-button-rejected {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
    // margin-top: 20px;
}

#ck-button-rejected:hover {
    background: #f04141;
    color: white;
    cursor: pointer;
}

#ck-button-rejected label {
    float:left;
    width:6.0em;
}
#ck-button-rejected label:hover {
    cursor: pointer;
}

#ck-button-rejected label span {
    text-align:center;
    padding:5px 0px;
    display:block;
    font-size: 16px;
}

#ck-button-rejected label input {
    position:absolute;
    top:-20px;
}

#ck-button-rejected input:checked + span {
    background-color: #f04141;
    color:#fff;
}
// Pending
#ck-button-pending {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
    // margin-top: 20px;
}

#ck-button-pending:hover {
    background: #ffce00;
    color: white;
    cursor: pointer;
}

#ck-button-pending label {
    float:left;
    width:6.0em;
}
#ck-button-pending label:hover {
    cursor: pointer;
}

#ck-button-pending label span {
    text-align:center;
    padding:5px 0px;
    display:block;
    font-size: 16px;
}

#ck-button-pending label input {
    position:absolute;
    top:-20px;
}

#ck-button-pending input:checked + span {
    background-color: #ffce00;
    color:#fff;
}
// Next
#ck-button-next {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
    // margin-top: 20px;
}

#ck-button-next:hover {
    background: #10dc60;
    color: white;
    cursor: pointer;
}

#ck-button-next label {
    float:left;
    width:15.0em;
}
#ck-button-next label:hover {
    cursor: pointer;
}

#ck-button-next label span {
    text-align:center;
    padding:5px 0px;
    display:block;
    font-size: 16px;
}

#ck-button-next label input {
    position:absolute;
    top:-20px;
}

#ck-button-next input:checked + span {
    background-color: #10dc60;
    color:#fff;
}

.status{
    margin-top: 20px;
}

.info{
    width:100%;
    display: flex;;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

ion-button{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

.save-button{
    margin-right: 13px;
}

.interviewer-detail {
    display: flex;
}

.label-info {
    min-width: 140px;
}