.btn{
    padding-left: 12px;
}
.ion-text-right{
    width: 100%;
}


.header{
    display: flex;
    justify-content: space-between;

    &-title {
        ion-title {
            padding: 0 20px;
        }
    }
}