.option-button{
    // margin-top: 20px;
    // display: flex;
    // justify-content: space-evenly;
}
.btn{
    padding-left: 12px;
}
.ion-text-right{
    position: fixed;
    bottom: 0;
    width: 100%;
}
  