
  <ion-row class="lists">
      <ion-card>
    <ion-col size="6" size-md size="12" size-sm>
      <h3>List of Candidates</h3>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/img/avatar_male.jpg">
        </ion-avatar>
          <h5>Justice Paul Cuevas</h5>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/img/avatar_female.jpg">
        </ion-avatar>
          <h5>Maliyah Sheppard</h5>
      </ion-item>
    </ion-col>
  </ion-card>
<ion-card>
    <ion-col size="6" size-md size="12" size-sm>
      <h4>Job Category</h4>
    </ion-col>
  </ion-card>
  </ion-row>

