/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Custom CSS */
@import "./app/styles/custom.scss";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap" rel="stylesheet');
@import './theme/fonts.scss';


// @import '~@swimlane/ngx-datatable/release/index.css';
// @import '~@swimlane/ngx-datatable/release/themes/dark.css';
// @import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
// @import '~@swimlane/ngx-datatable/release/assets/icons.css';

.popover-content.sc-ion-popover-md{
    position: unset!important;
}
.modal-wrapper.sc-ion-modal-md{
    border-radius: 4px!important;
}

.modal-container .modal-wrapper {
    height: 85% !important;
    position: absolute; 
    display: block;
    width: 50% !important;  

    @media only screen and (max-width: 600px){
        height: 100% !important;
        width: 100% !important;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        width: 90% !important;
    }
 }


 ion-title {
     padding: 0;
     &.title-ios {
         padding: 0 2.5vh !important;
         .title{
             padding: 0 30px;
         }
     }

 }

 ion-header {
     &.header-ios {
         margin: 10px 0 0;
     }
 }

 ion-button.ios {
    --border-radius: 4px !important;
    --transition: box-shadow 280ms cubic-bezier(0.4,0,0.2,1),background-color 15ms linear,color 15ms linear !important;
    --box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12) !important;
    height: 5.5vh !important
}

ion-buttons{
    ion-menu-button {
            color:$color-light-black !important;
    }
}

ion-title.title-ios{
    .add-button{
        margin-right: 0;
    }
}


 .add-button {
     margin-right: 10px;
    ion-button.ios {
        --border-radius: 4px !important;
        --transition: box-shadow 280ms cubic-bezier(0.4,0,0.2,1),background-color 15ms linear,color 15ms linear !important;
        --box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12) !important;
        // margin-top: 0.2vh !important;
        height: 5.5vh !important;
    }
 }

 .toolbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .modal {
        &__close-btn {
            background: none;
            padding: 0 20px;

            &:focus {
                outline: none;
            }
   
            &:hover {
                cursor: pointer;
                color: $color-light-red;
            }
        }
    }
 }

 ion-searchbar{
     .sc-ion-searchbar-ios{
         height: 6vh !important;
     }
 }

 .date {

    &-box {
        display: flex;
        align-items: center;
        height: 25px;
    }

    &-available {
        font-size: 17px;
        color: $color-light-black;
        ion-datetime {
            padding: 10px 5px;
        }
    }

  }