<ion-content>
  <ion-refresher class="refresh" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>
  <div class="wrapper-content" padding="20px">
    <div class="header-wrap">
      <div class="title">
        <img class="icon-map" src='../../../assets/icon/pin (1).png'>
        <h3>Venue List</h3>
      </div>
      <div class="add-button">
        <ion-button color='danger' (click)="openModal()">
          <ion-icon ios="ios-add" md="md-add"></ion-icon>
        </ion-button>
      </div>
    </div>
    <table class="rwd-table">
      <tr>
        <th>Skill</th>
        <th>Edit</th>
      </tr>
      <tr *ngFor="let skill of skills">
        <td data-th="Id">{{skill.skillName}}</td>
        <td data-th="Active">
          <ion-icon ios="ios-create" md="md-create"></ion-icon>
        </td>
      </tr>
    </table>
  </div>
</ion-content>